body {
    padding: 70px 0;
    background-color: #444444;
    color: #DDD;
}

nav {
    font-size: 18px;
}

footer {
    padding: 5px 0px;
}

footer a, p {
    color: #7D7D7D;
}

footer a:hover {
    color: #FFFFFF;
}

text {
    fill: #CFCFCF;
}

svg g g g line, svg g g path {
    stroke: #CFCFCF;
}

.line {
    stroke-width: 3px;
}

form {
    margin-bottom: 20px;
}

.stock {
    padding-bottom: 20px;
}
